.toast {
    position: fixed;
    align-self: center;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, 0);
    height: 50px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 6fr 0.5fr;
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
    opacity: 0;
    transition: visibility .2s, opacity ease-in .2s;

    > button{
        align-self: flex-start;
        width: auto;
        padding: 10px 10px;
        background-color: transparent;
        font-size: 25px;
        color: #656565;
        line-height: 0;
        cursor: pointer;
    }
}

.toast_container {
    align-self: self-start;
    text-align: left;

    > p:first-child {
        color: #fff;
        font-weight: 600;
        line-height: 0;
        font-size: 16px;
    }

    > p:last-child {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        color: #ddd;
    }
}