.terminal {
    max-height: 50vh;
    padding: 25px;
    border-radius: 25px;
    margin: auto;
    background-color: black;
    width: 50vw;
    min-width: 390px;
    overflow-y: hidden;
}

.terminal_container {
    max-height: 50vh;
    width: 100%;
    overflow: overlay;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    cursor: grab !important;
    width: 7px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar {
    cursor: grab !important;
  }
  ::-webkit-scrollbar-thumb {
    cursor: grab !important;
    background-color: gray;
    border-radius: 10px;
    background-clip: padding-box;
  }

.terminal_item {
    display: grid;
    grid-template-columns: 120px auto 100px;
    > p {
        text-align: left;
    }
    :first-child {
        text-transform: uppercase;
    }
}