@mixin input_base {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1.2em;
    background-color: #1a1a1a;
    transition: border-color 0.25s;

    &:hover {
        border-color: #fff;
    }

    &:focus {
        border-color: #fff;
    }
}

button {
    @include input_base;
    cursor: pointer;
}

input[type=text] {
    @include input_base;
}

input[type=date] {
    @include input_base;
}

select {
    @include input_base;
}
