header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #1A1A1A;
    border-bottom: 1px solid #36D88A;
    width: 100%;
    gap: 30px;
    > p {
        margin-left: 160px;
    }
    > a {
        text-decoration: none;
        align-self: center;
        color: #bbb;
        &:hover {
            color: #fff;
        }
        transition: color .3s ease-in;
    }
}